# Database
RND_DB_USER=root
RND_DB_PASSWORD=
MYSQL_PASSWORD=

# Optional SQL Server integration
RND_SQLSERVER_USER=sa
RND_SQLSERVER_PASSWORD=

# Optional MongoDB integration
RND_MONGO_DB=formhub
RND_MONGO_USER=
RND_MONGO_PASSWORD=
RND_MONGO_AUTH_SOURCE=admin

# SMTP
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
